# This file is used to fix authors email addresses in old svn commit history 
# See git docs for details:
# http://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors

Qiang Xue <qiang.xue@gmail.com> qiang.xue <qiang.xue@c7f931c7-7552-0410-b027-2fb3d89d9100>
Qiang Xue <qiang.xue@gmail.com> qiang.xue@gmail.com <qiang.xue@gmail.com@c7f931c7-7552-0410-b027-2fb3d89d9100>
Alexander Makarov <sam@rmcreative.ru> alexander.makarow@gmail.com <alexander.makarow@gmail.com@c7f931c7-7552-0410-b027-2fb3d89d9100>
Alexander Makarov <sam@rmcreative.ru> alexander.makarow <alexander.makarow@c7f931c7-7552-0410-b027-2fb3d89d9100>
Maurizio Domba <mdomba@gmail.com> mdomba@gmail.com <mdomba@gmail.com@c7f931c7-7552-0410-b027-2fb3d89d9100>
Maurizio Domba <mdomba@gmail.com> mdomba <mdomba@c7f931c7-7552-0410-b027-2fb3d89d9100>
kidol <keyboard.idol@gmail.com> keyboard.idol@gmail.com <keyboard.idol@gmail.com@c7f931c7-7552-0410-b027-2fb3d89d9100>
Sebastián Thierer <sebathi@gmail.com> sebathi <sebathi@c7f931c7-7552-0410-b027-2fb3d89d9100>
Mike Haertl <haertl.mike@gmail.com> haertl.mike <haertl.mike@c7f931c7-7552-0410-b027-2fb3d89d9100>
Jeff <jefftulsa@gmail.com> jefftulsa@gmail.com <jefftulsa@gmail.com@c7f931c7-7552-0410-b027-2fb3d89d9100>
Jeff <jefftulsa@gmail.com> jefftulsa <jefftulsa@c7f931c7-7552-0410-b027-2fb3d89d9100>
Wei Zhuo <weizhuo@gmail.com> weizhuo <weizhuo@c7f931c7-7552-0410-b027-2fb3d89d9100>

