language: php

php:
  - 5.2
  - 5.3
  - 5.4

services:
  - memcached

before_script:
  - ./tests/travis/mysql-setup.sh
  - ./tests/travis/postgresql-setup.sh
  - ./tests/travis/memcache-setup.sh
  - cd tests

script: phpunit --colors --coverage-text --exclude-group mssql,oci framework
