parameters:
	ignoreErrors:
		-
			path: framework/base/CDbStatePersister.php
			message: "#Variable \\$command might not be defined\\.#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Variable \\$languages in isset\\(\\) is never defined\\.#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Variable \\$messagePath in isset\\(\\) is never defined\\.#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Variable \\$sourcePath in isset\\(\\) is never defined\\.#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Variable \\$overwrite in isset\\(\\) is never defined\\.#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Variable \\$removeOld in isset\\(\\) is never defined\\.#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Variable \\$sort in isset\\(\\) is never defined\\.#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Variable \\$fileHeader in isset\\(\\) is never defined\\.#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Variable \\$fileTypes in isset\\(\\) is never defined\\.#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Variable \\$exclude in isset\\(\\) is never defined\\.#"

		-
			path: framework/console/CHelpCommand.php
			message: "#Variable \\$name might not be defined\\.#"

		-
			path: framework/console/CHelpCommand.php
			message: "#Variable \\$name might not be defined\\.#"

		-
			path: framework/db/ar/CJoinElement.php
			message: "#Variable \\$pk might not be defined\\.#"

		-
			path: framework/db/ar/CJoinElement.php
			message: "#Variable \\$pk might not be defined\\.#"

		-
			path: framework/db/ar/CJoinElement.php
			message: "#Variable \\$pk might not be defined\\.#"

		-
			path: framework/test/CDbFixtureManager.php
			message: "#Variable \\$pk might not be defined\\.#"

		-
			path: framework/utils/CFileHelper.php
			message: "#Constant FILEINFO_MIME not found\\.#"

		-
			path: framework/validators/CEmailValidator.php
			message: "#Variable \\$domain might not be defined\\.#"

		-
			path: framework/validators/CEmailValidator.php
			message: "#Variable \\$domain might not be defined\\.#"

		-
			path: framework/validators/CFileValidator.php
			message: "#Constant FILEINFO_MIME not found\\.#"

		-
			path: framework/web/CHttpRequest.php
			message: "#Variable \\$_GET in isset\\(\\) always exists and is not nullable\\.#"

		-
			path: framework/web/CHttpRequest.php
			message: "#Variable \\$_POST in isset\\(\\) always exists and is not nullable\\.#"

		-
			path: framework/web/CHttpRequest.php
			message: "#Variable \\$_REQUEST in isset\\(\\) always exists and is not nullable\\.#"

		-
			path: framework/web/CHttpRequest.php
			message: "#Variable \\$_COOKIE in isset\\(\\) always exists and is not nullable\\.#"

		-
			path: framework/web/CHttpSession.php
			message: "#Variable \\$httponly in isset\\(\\) is never defined\\.#"

		-
			path: framework/web/CHttpSession.php
			message: "#Variable \\$_SESSION in isset\\(\\) always exists and is not nullable\\.#"

		-
			path: framework/web/CUploadedFile.php
			message: "#Variable \\$_FILES in isset\\(\\) always exists and is not nullable\\.#"

		-
			path: framework/web/CUrlManager.php
			message: "#Variable \\$hash might not be defined\\.#"

		-
			path: framework/web/CWebApplication.php
			message: "#Variable \\$controllerID might not be defined\\.#"

		-
			path: framework/web/actions/CViewAction.php
			message: "#Variable \\$layout might not be defined\\.#"

		-
			path: framework/web/auth/CDbAuthManager.php
			message: "#Variable \\$condition might not be defined\\.#"

		-
			path: framework/web/helpers/CHtml.php
			message: "#Variable \\$checkAllLast might not be defined\\.#"

		-
			path: framework/web/services/CWebService.php
			message: "#Variable \\$cache might not be defined\\.#"

		-
			path: framework/web/services/CWebService.php
			message: "#Variable \\$HTTP_RAW_POST_DATA in isset\\(\\) is never defined\\.#"

		-
			path: framework/web/services/CWebService.php
			message: "#Constant SOAP_1_1 not found\\.#"

		-
			path: framework/web/services/CWebService.php
			message: "#Constant SOAP_1_2 not found\\.#"

		-
			path: framework/web/services/CWsdlGenerator.php
			message: "#Variable \\$firstHeaderKey might not be defined\\.#"

		-
			path: framework/zii/widgets/grid/CDataColumn.php
			message: "#Variable \\$value might not be defined\\.#"
