parameters:
	ignoreErrors:
		-
			path: framework/base/CApplication.php
			message: "#CApplication\\:\\:__construct\\(\\) does not call parent constructor from CModule\\.#"

		-
			path: framework/caching/CMemCache.php
			message: "#Return typehint of method CMemCache\\:\\:getMemCache\\(\\) has invalid type Memcache\\.#"

		-
			path: framework/caching/CMemCache.php
			message: "#Return typehint of method CMemCache\\:\\:getMemCache\\(\\) has invalid type Memcached\\.#"

		-
			path: framework/caching/CMemCache.php
			message: "#Instantiated class Memcache not found\\.#"

		-
			path: framework/caching/CMemCache.php
			message: "#Instantiated class Memcached not found\\.#"

		-
			path: framework/caching/CRedisCache.php
			message: "#Method CRedisCache\\:\\:parseResponse\\(\\) invoked with 1 parameter, 0 required\\.#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Undefined variable\\: \\$sourcePath#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Undefined variable\\: \\$sourcePath#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Undefined variable\\: \\$messagePath#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Undefined variable\\: \\$messagePath#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Undefined variable\\: \\$sourcePath#"

		-
			path: framework/cli/commands/MessageCommand.php
			message: "#Undefined variable\\: \\$messagePath#"

		-
			path: framework/collections/CTypedList.php
			message: "#CTypedList\\:\\:__construct\\(\\) does not call parent constructor from CList\\.#"

		-
			path: framework/collections/CTypedMap.php
			message: "#CTypedMap\\:\\:__construct\\(\\) does not call parent constructor from CMap\\.#"

		-
			path: framework/db/schema/cubrid/CCubridSchema.php
			message: "#Access to undefined constant PDO\\:\\:CUBRID_SCH_IMPORTED_KEYS\\.#"

		-
			path: framework/db/schema/cubrid/CCubridSchema.php
			message: "#Access to undefined constant PDO\\:\\:CUBRID_SCH_PRIMARY_KEY\\.#"

		-
			path: framework/web/CCookieCollection.php
			message: "#CCookieCollection\\:\\:__construct\\(\\) does not call parent constructor from CMap\\.#"

		-
			path: framework/web/CHttpSession.php
			message: "#Undefined variable\\: \\$domain#"

		-
			path: framework/web/CHttpSession.php
			message: "#Undefined variable\\: \\$lifetime#"

		-
			path: framework/web/CHttpSession.php
			message: "#Undefined variable\\: \\$path#"

		-
			path: framework/web/CHttpSession.php
			message: "#Undefined variable\\: \\$secure#"

		-
			path: framework/web/CHttpSession.php
			message: "#Undefined variable\\: \\$domain#"

		-
			path: framework/web/CHttpSession.php
			message: "#Undefined variable\\: \\$lifetime#"

		-
			path: framework/web/CHttpSession.php
			message: "#Undefined variable\\: \\$path#"

		-
			path: framework/web/CHttpSession.php
			message: "#Undefined variable\\: \\$secure#"

		-
			path: framework/web/filters/CFilterChain.php
			message: "#CFilterChain\\:\\:__construct\\(\\) does not call parent constructor from CList\\.#"

		-
			path: framework/web/services/CWebService.php
			message: "#Instantiated class SoapServer not found\\.#"

		-
			path: framework/web/widgets/captcha/CCaptcha.php
			message: "#Instantiated class Imagick not found\\.#"

		-
			path: framework/web/widgets/captcha/CCaptchaAction.php
			message: "#Instantiated class ImagickPixel not found\\.#"

		-
			path: framework/web/widgets/captcha/CCaptchaAction.php
			message: "#Instantiated class ImagickPixel not found\\.#"

		-
			path: framework/web/widgets/captcha/CCaptchaAction.php
			message: "#Instantiated class ImagickPixel not found\\.#"

		-
			path: framework/web/widgets/captcha/CCaptchaAction.php
			message: "#Instantiated class Imagick not found\\.#"

		-
			path: framework/web/widgets/captcha/CCaptchaAction.php
			message: "#Instantiated class ImagickDraw not found\\.#"

		-
			path: framework/web/widgets/captcha/CCaptchaAction.php
			message: "#Instantiated class ImagickDraw not found\\.#"

		-
			path: tests/framework/db/schema/CMssqlTest.php
			message: "#Access to undefined constant PDO\\:\\:SQLSRV_ATTR_ENCODING\\.#"

		-
			path: tests/framework/db/schema/CMssqlTest.php
			message: "#Access to undefined constant PDO\\:\\:SQLSRV_ENCODING_SYSTEM\\.#"

		-
			path: tests/framework/web/controllers/SoapController.php
			message: "#Instantiated class SoapFault not found\\.#"

