body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 0 20px 20px;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

div.giiform
{
}

div.giiform input,
div.giiform textarea,
div.giiform select
{
	margin: 0.2em 0 0.5em 0;
}

div.giiform fieldset
{
	border: 1px solid #DDD;
	padding: 10px;
	margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.giiform label
{
	font-weight: bold;
	font-size: 0.9em;
	display: block;
}

div.giiform .row
{
	margin: 5px 0;
}

div.giiform .row.buttons
{
	padding: 5px;
	margin: 10px 0;
}

div.giiform .row.buttons input
{
	margin: 0;
}

div.giiform .hint
{
	margin: 0;
	padding: 0;
	color: #999;
}

div.giiform .note
{
	font-style: italic;
}

div.giiform span.required
{
	color: red;
}

div.giiform div.error label,
div.giiform label.error,
div.giiform span.error
{
	color: #C00;
}

div.giiform div.error input,
div.giiform div.error textarea,
div.giiform div.error select,
div.giiform input.error,
div.giiform textarea.error,
div.giiform select.error
{
	background: #FEE;
	border-color: #C00;
}

div.giiform div.success input,
div.giiform div.success textarea,
div.giiform div.success select,
div.giiform input.success,
div.giiform textarea.success,
div.giiform select.success
{
	background: #E6EFC2;
	border-color: #C6D880;
}


div.giiform .errorSummary
{
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

div.giiform .errorMessage
{
	color: red;
	font-size: 0.9em;
}

div.giiform .errorSummary p
{
	margin: 0;
	padding: 5px;
}

div.giiform .errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

div.wide.giiform label
{
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 100px;
}

div.wide.giiform .row
{
	clear: left;
}

div.wide.giiform .buttons, div.wide.giiform .hint, div.wide.giiform .errorMessage
{
	clear: left;
	padding-left: 110px;
}

div.giiform .tooltip
{
	display: none;
    background-color:#DDE5FC;
    border:1px solid #9EB5FC;
    padding: 10px;
    width: 300px;
}

div.giiform .tooltip ul
{
	margin: 0;
	padding: 10px 0 0 20px;
}

div.giiform .rememberMe label
{
	display: inline;
	font-weight: normal;
}

.common-generator .check-all
{
	margin: 5px;
	text-align: right;
}

.common-generator table
{
	border-collapse: collapse;
}

.common-generator th
{
	text-align: center;
}

.common-generator td.confirm
{
	width: 80px;
	text-align: right;
}

.common-generator td.confirm input
{
	margin:0;
}

.common-generator table, .common-generator th, .common-generator td
{
	border: 1px solid #529EC6;
}

.common-generator tr.skip
{
	background-color: #eee;
}

.common-generator tr.new
{
	background-color: #C5FBBD;
}

.common-generator tr.overwrite
{
	background-color: #FFE0E1;
}

.common-generator pre.results
{
	overflow: auto;
	background-color: gray;
	max-height: 300px;
	color: white;
	padding: 10px;
}

.common-generator div.success
{
	background: #C5FBBD;
	border: 1px solid #76C376;
	padding: 10px;
	margin: 10px 0;
}

.common-generator div.error
{
	background: #FFE0E1;
	border: 1px solid #FFA0A2;
	padding: 10px;
	margin: 10px 0;
}

.common-generator pre.results span.error
{
	background: #FFE0E1;
	color: black;
	padding: 1px;
}

#fancybox-inner .error
{
	color: red;
}

#fancybox-inner .title
{
	font-size: 12px;
	font-weight: bold;
}

#fancybox-inner .buttons
{
	float: right;
	padding: 0 10px 0 0;
}

#fancybox-inner .content
{
	background: #F0F4FF;
}