需求分析
================================

这个[博客]系统我们打算设计为一个单用户系统。这个私有的系统可以实现下列操作：

 * 登陆和退出 
 * 建立、修改和删除文章 
 * 发布、撤下和草稿文章 
 * 审核和删除评论

所有其他用户或者访客可以进行下列操作：

 * 阅读文章 
 * 建立评论

其他附件的功能包括:

 * 首页将显示最新的文章列表； 
 * 可以分页显示，每页10篇文章； 
 * 系统可以显示文章的评论； 
 * 系统可以根据相关标签显示出文章列表； 
 * 系统可以同步显示标签云； 
 * 系统可以显示最新的评论列表； 
 * 系统可以被主题化； 
 * 系统能显示出对搜索器的友好URL模式。

