需求分析
=====================

我们要开发的博客系统是一个单用户系统。系统的所有者可以执行以下操作：

 * 登录和退出
 * 创建，更新，删除日志
 * 发布，撤销发布，存档日志
 * 审核和删除评论

其他的访客则可以执行以下操作：

 * 阅读日志
 * 创建评论

此系统的额外需求包括：

 * 系统的首页应显示最新的帖子列表。
 * 如果页面中有超过10篇日志，应该以分页的方式显示。
 * 系统应该在显示日志的同时显示此日志的评论。
 * 系统应可以按照指定的Tag列出相应的日志。
 * 系统应展示一个可以表明标签使用频率的标签云。
 * 系统应展示一个最新评论列表。
 * 系统应可以更换主题。
 * 系统应使用 SEO 友好的 URL 。

<div class="revision">$Id: start.requirements.txt 683 2009-02-16 05:20:17Z qiang.xue $</div>