Аналіз вимог
============

Система керування блогом, яку ми розробляємо, є однокористувальницької.
Власнику системи будуть доступні наступні дії:

 * Вхід та Вихід.
 * Створення, оновлення та видалення записів.
 * Публікація, депублікація та архівація записів.
 * Ствердження та видалення коментарів.

Всім іншим користувачам і гостям будуть доступні дії:

 * Читання записів.
 * Створення коментарів.

Додаткові вимоги для системи:

 * Сторінка `Головна` системи повинна показувати список недавніх записів.
 * Якщо сторінка містить більш 10 записів, вона повинна розбиватися на кілька сторінок.
 * Відображення записів разом з коментарями до неї.
 * Відображення списку записів з певним тегом.
 * Відображення хмари тегів, що показує частоту їх використання.
 * Відображення списку недавніх коментарів.
 * Можливість зміни теми оформлення.
 * Красиві URL-адреси, оптимізовані для пошукових роботів.