要求分析
=====================

これから作成するブログシステムは、シングルユーザシステムです。システムのオーナは以下のアクションを行えるものとします:

 * ログインおよびログアウト
 * 記事の作成、更新、削除
 * 記事の公開、非公開、アーカイブ化
 * コメントの承認と削除

オーナ以外のユーザはすべてゲストで、ゲストは以下のアクションを行えるものとします:

 * 記事を読む
 * コメントをつける

このシステムの追加要求には以下の事柄が含まれます:

 * システムのホームページは直近の記事リストを表示する。
 * ページに10件以上の記事がある場合、複数のページにわたって表示される。
 * 記事とその記事のコメントを一緒に表示する。
 * 特定のタグを持つ記事の一覧を表示できる。
 * タグの使用頻度を示すタグクラウドを表示する。
 * 直近のコメントをリスト表示する。
 * テーマは変更可能である。
 * SEO に適した URL を使う。

<div class="revision">$Id$</div>