Анализ требований
=====================

Система управления блогом, которую мы разрабатываем - это однопользовательская
система. Владельцу системы будут доступны следующие действия:

 * Вход и Выход
 * Создание, обновление и удаление постов
 * Публикация, депубликация и архивация постов
 * Утверждение и удаление комментариев

Всем остальным пользователям и гостям будут доступны действия:

 * Чтение постов
 * Создание комментариев

Дополнительные требования для системы:

 * Страница `Главная` системы должна показывать список недавних постов.
 * Если страница содержит более 10 постов, она должна разбиваться на несколько
страниц.
 * Система должна иметь возможность показа поста вместе с комментариями к нему.
 * Система должна иметь возможность показа списка постов по определенному тегу.
 * Система должна иметь возможность показа облака тегов, показывающее частоту их использования.
 * Система должна иметь возможность показа списка недавних комментариев.
 * Система должна иметь возможность смены темы оформления.
 * Система должна использовать URL-адреса, оптимизированные для поисковых роботов.

<div class="revision">$Id: start.requirements.txt 681 2009-02-16 04:57:01Z qiang.xue $</div>